body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculadora {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 2em;
    border: none;
    text-align: right;
    box-sizing: border-box;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f0f0f0;
}

.equal {
    grid-column: span 2;
    background-color: #4CAF50;
    color: white;
}

.equal:hover {
    background-color: #45a049;
}